.div {
  background-image: url("../../assets/images/landing.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.welcome{
    color: rgb(38, 37, 35);
    text-shadow: 1px 3px 45px #66780c;
    font-size: 90px;
    margin-bottom: 8%;
    margin-left: 550px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text{
    color: rgb(117, 89, 12);
    text-shadow: 1px 3px 45px #66780c;
    font-size: 30px;
    margin-bottom: -5%;
    width: 45%;
    margin-left: 35%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home{
    width: 45%;
    max-width: 230px;
    font-size: 20px; 
    background: none;
    padding: 10px ; 
    border: 1px solid rgb(235, 206, 206);
    outline: 2px solid #5b3b04;
    text-shadow: 10 10 30px #bbd210;
    color: #f8f6f3;
    margin-left: 1420px;
    border-radius: 15px;
}

.home:hover{
    color: #e7b28f;
    cursor: pointer; 
}

h3{
    color: rgb(48, 11, 11);
    text-shadow: 0 0 2px #6a7242;
    font-size: 22px;
    margin-bottom: 0%;
    margin-left: 10px;
}