.div {
    background-image: url("../../assets/images/pexels-cottonbro-studio-8263326.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .divPag {
    background-color: rgb(220, 184, 39);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .divNoActivities {
    font-size: x-large;
    height: calc(100vh - 7vh);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .divNoActivities h2 {
    background-color: rgb(226, 183, 66);
    color: #fff;
    border-radius: 1em;
    width: 40vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  