.divHome {
    background-image: url("../../assets/images/pexels-megha-mangal-806880.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
